## Analise de Dados - FashionDataset

## Importação de Dados

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("FashionDataset.csv")

In [17]:
df.head()

,BrandName,Deatils,Sizes,MRP,SellPrice,Discount,Category
0,life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",1699.0,849,50,Westernwear-Women
1,only,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",3499.0,2449,30,Westernwear-Women
2,fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",1199.0,599,50,Westernwear-Women
3,zink london,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",2299.0,1379,40,Westernwear-Women
4,life,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",1699.0,849,50,Westernwear-Women

### Lista do Que precisa ser feito

- Duplicadas: Drop OK
- Index - Drop OK
- Sizes, Separar em Dicts/Tamanhos etc
- Details, separar em diferentes tipos, analisar [cor, material, corte, tipo, etc]
- MRP - Regex, toInt, Fillna c/ SellPrice OK
- SellPrice Regex, Toint OK
- Discount Regex, Toint OK
- Category OK

drop de duplicadas e index repetido

In [4]:
df.drop(columns=["Unnamed: 0"], inplace=True)

In [5]:
df.drop_duplicates(inplace=True)

In [58]:
df.rename(columns={"Deatils" : "Details"}, inplace=True)

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27924 entries, 0 to 30757
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BrandName  27924 non-null  object
 1   Details    27924 non-null  object
 2   Sizes      22687 non-null  object
 3   MRP        27924 non-null  float64
 4   SellPrice  27924 non-null  int64
 5   Discount   27924 non-null  int64
 6   Category   27924 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 1.7+ MB

In [7]:
df.columns

Index(['BrandName', 'Deatils', 'Sizes', 'MRP', 'SellPrice', 'Discount',
       'Category'],
      dtype='object')

##### Limpeza de Colunas MRP, Size, SellPrice Discount 
texto p/ float/int

In [ ]:
df.Sizes = df.Sizes.str.lstrip("Size:")

In [8]:
df.Discount = df.Discount.str.rstrip("% off")
df.Discount[df.Discount == "Nan"] = "0"
df.Discount = pd.to_numeric(df.Discount)

In [9]:
df.SellPrice[df.SellPrice == "Nan"] == np.nan
df.dropna()

,BrandName,Deatils,Sizes,MRP,SellPrice,Discount,Category
0,life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50,Westernwear-Women
1,only,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",Rs\n3499,2449,30,Westernwear-Women
2,fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",Rs\n1199,599,50,Westernwear-Women
3,zink london,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",Rs\n2299,1379,40,Westernwear-Women
4,life,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",Rs\n1699,849,50,Westernwear-Women
...,...,...,...,...,...,...,...
30752,shaya by caratlane,the wing woman clover charm necklace,Nan,Nan,1250,0,Jewellery-Women
30753,swarovski,crystal stylish womens rodhium earrings,Nan,Nan,8950,0,Jewellery-Women
30755,jewelz,ethnic gold plated jhumki earrings,Nan,Rs\n1839,643,65,Jewellery-Women
30756,estelle,womens gold plated double line fancy white and...,Nan,Nan,2799,0,Jewellery-Women
30757,estelle,womens gold plated bridge designer mangalsutra...,Nan,Nan,1899,0,Jewellery-Women

In [10]:
df.SellPrice[df.SellPrice == "Nan"] = np.nan
df.dropna(subset = ["SellPrice"], inplace = True)
df.SellPrice = pd.to_numeric(df.SellPrice)

<ipython-input-10-afafd0d74327>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.SellPrice[df.SellPrice == "Nan"] = np.nan

In [11]:
df.MRP[df.MRP == "Nan"] = np.nan
df.MRP = df.MRP.str.lstrip("Rs\n")
df.MRP = pd.to_numeric(df.MRP)
df.MRP.fillna(df.SellPrice, inplace=True)

<ipython-input-11-4d97eae2340f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.MRP[df.MRP == "Nan"] = np.nan

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27924 entries, 0 to 30757
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BrandName  27924 non-null  object
 1   Deatils    27924 non-null  object
 2   Sizes      27924 non-null  object
 3   MRP        27924 non-null  float64
 4   SellPrice  27924 non-null  int64
 5   Discount   27924 non-null  int64
 6   Category   27924 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 1.7+ MB

#### Analise por Cima de Gropupby Por categoria

In [18]:
dfCat = df.groupby(["Category"]).nunique().reset_index()

,Category,BrandName,Deatils,Sizes,MRP,SellPrice,Discount
0,Footwear-Women,30,1693,200,134,281,44
1,Fragrance-Women,76,474,2,184,247,7
2,Indianwear-Women,52,7580,374,676,900,20
3,Jewellery-Women,31,1509,1,238,365,14
4,Lingerie&Nightwear-Women,40,2704,540,264,418,21

quantidades de marcas distintas que cada categoria possui

In [29]:
dfCat[["Category", "BrandName"]].head(10)

                   Category  BrandName
0            Footwear-Women         30
1           Fragrance-Women         76
2          Indianwear-Women         52
3           Jewellery-Women         31
4  Lingerie&Nightwear-Women         40
5             Watches-Women         42
6         Westernwear-Women        101

preço medio de venda/mrp/desconto de cada categoria

In [25]:
dfCat2 = df.groupby(["Category"]).mean().reset_index()
dfCat2.head(7)

                   Category           MRP    SellPrice   Discount
0            Footwear-Women   2963.676570  2235.207980  26.383701
1           Fragrance-Women   4286.354430  3979.605485   8.417722
2          Indianwear-Women   2571.936560  1440.095329  41.461262
3           Jewellery-Women   2756.591078  2185.166047  25.519207
4  Lingerie&Nightwear-Women   1256.982879   921.558656  26.970831
5             Watches-Women  10555.826061  8658.849057  19.737618
6         Westernwear-Women   2033.059749  1325.498972  35.883896

máximo preço/mrp/desconto de cada categoria

In [28]:
dfCat3 = df.groupby(["Category"]).max().reset_index()
dfCat3[["Category", "MRP", "SellPrice", "Discount"]].head(7)

                   Category       MRP  SellPrice  Discount
0            Footwear-Women   10999.0      10999        78
1           Fragrance-Women   19800.0      19800        50
2          Indianwear-Women   16999.0      13599        85
3           Jewellery-Women   31000.0      31000        70
4  Lingerie&Nightwear-Women    5290.0       3799        80
5             Watches-Women  142500.0     142500        70
6         Westernwear-Women    8600.0       8400        80

### Como lidar com tabela details?

fazer uma função que conta a quantidade de descriptivos unicos nessa coluna, talvez selecionar um conjunto que seja mais popular, e usar como categoria

In [31]:
df.Sizes.describe()

count     27924
unique     1172
top         Nan
freq       5237
Name: Sizes, dtype: object

In [35]:
df.Sizes[df.Sizes == "Nan"] = np.nan

<ipython-input-35-fd8b6d3e14bf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Sizes[df.Sizes == "Nan"] = np.nan

#### Contagem de quais termos descriptivos são mais populares, pra avaliar quais tornar categorias/se da pra tornarem categorias

In [72]:
DetailList = []
for i in df.Details:
    DetailList += i.split(" ")

DetailSeries = pd.Series(DetailList)
DSvc = DetailSeries.value_counts()

In [83]:
DSvc[DSvc >= 5000].count()

8

In [81]:
DSvc[DSvc >= 2500].count()

17

In [86]:
DSvc[DSvc >= 2000]

-            26140
womens       25666
neck          9712
cotton        6150
regular       6116
round         5861
solid         5803
printed       5238
fit           4519
black         3626
polyester     3515
kurta         3486
top           3176
blue          3158
wear          3001
casual        2968
dress         2844
blend         2333
pink          2260
white         2189
set           2112
dtype: int64

In [85]:
DSvc[DSvc >= 2000].count()

21

In [88]:
DSvc[DSvc >= 2000].index

Index(['-', 'womens', 'neck', 'cotton', 'regular', 'round', 'solid', 'printed',
       'fit', 'black', 'polyester', 'kurta', 'top', 'blue', 'wear', 'casual',
       'dress', 'blend', 'pink', 'white', 'set'],
      dtype='object')

'-', 
'womens',
'neck',
'cotton',
'regular',
'round',
'solid',
'printed',
'fit',
'black',
'polyester',
'kurta',
'top',
'blue',
'wear',
'casual',
'dress',
'blend',
'pink',
'white',
'set'

"-, womens, wear" podem ser removidos da lista pq sozinhos não fazem sentido

#### Precisa fazer uma função que faz um split, analisa as palavras, e coloca um 1 na categoria do df

### Analise da Coluna "Sizes"

In [93]:
df[df.Sizes.isnull()].head(30)

,BrandName,Details,Sizes,MRP,SellPrice,Discount,Category
640,get wrapped,printed polyester regular length womens casual...,NaN,399.0,399,0,Westernwear-Women
944,allen solly,printed cotton mens face mask - pack of 3 - white,NaN,599.0,249,58,Westernwear-Women
1195,get wrapped,printed polyester regular length womens casual...,NaN,399.0,399,0,Westernwear-Women
1196,life,assorted cotton blend soft finishes womens soc...,NaN,299.0,149,50,Westernwear-Women
1263,life,cotton nylon womens no show socks - pack of 3 ...,NaN,249.0,124,50,Westernwear-Women
1409,get wrapped,printed polyester regular length womens casual...,NaN,399.0,399,0,Westernwear-Women
1794,life,cotton nylon womens ankle sport socks - pack o...,NaN,299.0,149,50,Westernwear-Women
1901,only,embroidered cotton womens cap - orange,NaN,799.0,639,20,Westernwear-Women
2155,life,womens 2 ply protective face mask - pack of 5 ...,NaN,149.0,74,50,Westernwear-Women
2342,only,embroidered cotton womens cap - blue,NaN,999.0,999,0,Westernwear-Women
2709,get wrapped,printed polyester regular length womens casual...,NaN,399.0,399,0,Westernwear-Women
2969,life,womens knitted casual socks - blue,NaN,99.0,99,0,Westernwear-Women
3043,only,solid polyester regular fit womens cap - blue,NaN,1499.0,1049,30,Westernwear-Women
3344,allen solly,solid cotton regular fit womens face mask - pa...,NaN,599.0,599,0,Westernwear-Women
3576,only,solid cotton regular fit womens socks - peach,NaN,999.0,699,30,Westernwear-Women
3671,life,womens knitted casual socks - white,NaN,99.0,99,0,Westernwear-Women
3682,travel blue,unisex shielded face mask - black,NaN,149.0,149,0,Westernwear-Women
3744,jockey,printed cotton blend womens socks - multi,NaN,218.0,218,0,Westernwear-Women
3988,only,all over print polyester regular fit womens ca...,NaN,1699.0,1189,30,Westernwear-Women
4025,only,solid polyester regular fit womens cap - pink,NaN,1499.0,1049,30,Westernwear-Women
4083,only,all over print polyester regular fit womens ca...,NaN,1699.0,1189,30,Westernwear-Women
4118,jockey,printed ankle length cotton blend womens socks...,NaN,119.0,119,0,Westernwear-Women
4240,jockey,printed cotton blend womens socks - multi,NaN,278.0,278,0,Westernwear-Women
4362,van heusen,solid cotton regular fit womens casual face ma...,NaN,599.0,599,0,Westernwear-Women
4647,skechers,unisex stripe knitted ankle length socks set o...,NaN,699.0,699,0,Westernwear-Women
4861,jockey,solid cotton blend womens socks - multi,NaN,129.0,129,0,Westernwear-Women
4900,stop,womens 2 ply anti microbial reusable protectiv...,NaN,399.0,199,50,Westernwear-Women
4913,allen solly,womens reusable mask - pack of 4 - multi,NaN,449.0,449,0,Westernwear-Women
4927,allen solly,printed cotton regular fit womens face mask - ...,NaN,399.0,399,0,Westernwear-Women
4953,life,womens knitted casual socks - fuschia,NaN,99.0,99,0,Westernwear-Women

In [95]:
df.Sizes.describe()

count                                  22687
unique                                  1171
top       Large,Medium,Small,X-Large,X-Small
freq                                    1925
Name: Sizes, dtype: object

In [110]:

SizesList = []
for i in df.Sizes[df.Sizes.notnull()]:
    SizesList += i.split(",")

SizesList = pd.Series(SizesList)
Svc = SizesList.value_counts()

In [115]:
Svc[Svc > 100].head(30)

Medium       11806
Large        11380
Small        11133
X-Large       9703
X-Small       6951
XX-Large      6331
36            1951
38            1513
XXX-Large     1502
8             1484
34            1351
XL            1315
40            1282
32            1280
6             1225
mall          1214
37            1142
28            1142
30            1111
10            1044
39            1033
               856
12             760
7              759
14             737
34-C           722
36-C           701
26             688
16             681
5              666
dtype: int64

bom, não sei direito ainda como lidar com essas ionformações, dado q existem 38 escalas de tamanho diferente
temos o padrão PMGXG, uns numeros, tem o de sutiã, e outros X (anos talvez?)